-- Example 0
1
Y
1
50

0.5
-- Example 1
2
YN
NY
2
100
50

1.5
-- Example 2
3
YYY
NYY
NNY
3
100
0
0

3.0
-- Example 3
3
NNN
NNN
NNN
3
0
0
0

0.0
-- Example 4
10
NYYNYYNNNN
NNNNYNNNYN
YNNYYYYYNN
YYNYNNNNYN
NYNNNNNNNY
YNYYNNYNNY
NYNNYYYYYY
NYYYYNNNNN
YYNYNNYYYN
NNYYNYNYYY
10
11
66
99
37
64
45
21
67
71
62

9.999891558057332
-- Example 5
3
NNY
NNY
NNN
3
50
50
1

1.7525
